@use "../utilidades/variable" as *;
@use "../utilidades/mixin" as *;
@use "../utilidades/mediaqueries" as*;

/* FORMACIONES */
.contenedor-anual1{
    background-color: $color-contenedor1;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 95%;
    gap: 40px;
    justify-content: center;
}

.contenedor-anual2{
    background-color: $color-contenedor1;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 95%;
    gap: 1.5rem;
    justify-content: center;
}

.formacion-anual{
    background-color: $color-formacion-anual;
    padding: $padding-card;
    text-align: center;
    border-radius: $border-radius-card;
    width: 100%;
}

.card-formaciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    .formaciones-titulo{
        display: flex;
        font-size: 18px;
        color: $color-formacion-titulo;
        font-family: 'Papyrus';
    }

    .descripcion-formacion{
        font-family: 'delius';
        font-size: 1rem;
        padding: 1rem;
        line-height: 1.5;
        color: $color-descripcion-formacion;
    }
}

.imagen1 {
  width: 65%;
  height: auto;
  max-width: $font-1;
  border-radius: $border-radius-imagen;
  margin: auto;
}

.imagen2,
.imagen4 {
  width: 100%;
  border-radius: $border-radius-imagen;
  margin: auto;
}

.imagen3 {
  width: 100%;
  border-radius: $border-radius-imagen;
  margin-top: 30px;
  margin-left: 12px;
}

.imagen5 {
  width: 100%;
  border-radius: $border-radius-imagen;
  margin-top: 0px;
}