// Paleta de colores fondos
$color-fondo: #f4f5e8;

// Paleta de colores menú
$color-menu: #301d02a8;
$color-menu2: #3b2817fa;
$color-menu3: #52351d;
$color-menu4: #0000006b;

// Paleta de colores titulos y contenedores
$color-titulo: #351f05d0;
$color-fondotitulo: #e4dec9;
$color-subtitulo: #b99908;
$color-subtitulo2: #1f1001f6;

$color-contenedor1: #dfdbcc;
$color-contenedor2: #fafafaa8;
$color-contenedor3: #4724042a;
$color-formacion-anual: #47240449;
$color-formacion-titulo: #352701;
$color-descripcion-formacion: #140c01;

$color-h5: #545454;
$color-button-canal1: #227c69;
$color-button-canal2: #0d5539;
$color-button-seguir: #4a60d8f8;

// Paleta de colores footer
$color-derechos: #70706f;
$color-iconos: #613216;
$color-menuiconos: #3f1a04;

// Imagenes
$font-0:200px;
$font-1:220px;
$font-2:250px;
$font-3:300px;
$font-4:320px;
$font-5:330px;

// Variables propiedades
$border-radius-imagen: 10px;
$border-radius-video: 10px;
$border-radius-base: 15px;
$border-radius-card: 30px;
$padding-card: 20px;
$borde-radius: 10px;